@model webProgramming.Models.ViewModels
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Agent-Panel";
    Layout = "Admin_Layout";
}

<aside style="left:0;" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Customer/Index" class="brand-link">
        <img src="@Model.User?.Image" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">@Model.User?.Name </span>
    </a>

    <!-- Sidebar -->
    <Partial name="_AgnetDahboardPartial" /> 
    <!-- /.sidebar -->
</aside>

<!-- Main content -->
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@Model.User?.Name :مرحباً</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <!-- Recent Favorites -->
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">العقارات المفضلة الحديثة</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!-- Property Card 1 -->
                              @if(Model.Products != null)
                              {
                                foreach(var item in Model.Products)
                                {
                                    <div class="col-md-6 mb-4">
                                        <div class="card h-100">
                                            <img src="@item.MainImage" 
                                                 class="card-img-top" alt="Luxury Home" style="height: 200px; object-fit: cover;">
                                            <div class="card-body">
                                                <h5 class="card-title">@item.Title</h5>
                                                <p class="card-text">$@item.Price</p>
                                                <a href="/Product/PropertyDetails/@item.ProductId" class="btn btn-primary">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                              }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>